/*****************FUENTES******************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
/*****************FUENTES******************/

/******************RESET********************/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 16px */
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/******************RESET********************/

/***************VARIABLES******************/
:root {
  --color-principal: #d62e1f;
  --color-secundario: #ffd700;
  --green: #48a63f;
  --brown: #704214;
  --light-gold: #edb43c;
  --brown-claro: #5c440d;
  --light: #f5ebdc;
  --light-strong: #dbcdb5;
  --black: #000000;
  --font-principal: "Oswald", sans-serif;
  --font-secundaria: "Montserrat", sans-serif;
}
/***************VARIABLES******************/

/******************ESTILOS GENERALES*******************/
body {
  font-family: var(--font-principal);
}
/******************ESTILOS GENERALES*******************/

/*************ESTILOS HEADER******************/
.navbar {
  background-color: var(--light-strong);
}

.nav-link {
  color: var(--brown);
  transition: all 300ms;
}

.nav-link:hover {
  scale: 1.1;
  color: var(--color-principal);
}
/*************ESTILOS HEADER******************/

/***************ESTILOS HERO************************/
.hero {
  height: 85vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/hero1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  color: var(--color-principal);
  font-size: 4.5rem;
  text-transform: uppercase;
}

.hero p {
  width: 70%;
  color: var(--light);
  font-size: 3rem;
  text-align: center;
  font-family: var(--font-secundaria);
}

.hero__text {
  height: 60vh;
  align-content: space-between;
}

.btn {
  color: var(--color-principal);
  background-color: var(--light);
  border-color: var(--light-strong);
  font-size: 2.5rem;
  text-transform: uppercase;
  width: 15%;
  padding: 1.5rem;
  transition: all 500ms;
}

.btn:hover {
  background-color: var(--color-principal);
  border-color: var(--color-principal);
  color: var(--light);
}

@media (max-width: 575px) {
  .hero__text {
    height: 60vh;
    align-content: space-between;
  }
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-family: var(--font-secundaria);
    font-size: 2rem;
  }

  .btn {
    font-size: 1.5rem;
    width: 25%;
  }
}
/***************ESTILOS HERO************************/

/***************ESTILOS TARJETAS********************/
.products {
  background-color: var(--color-principal);
}

.products__title {
  padding: 5rem;
  color: var(--light);
}

.products__title h2 {
  font-size: 4rem;
}

.card {
  width: 25%;
  border-radius: 2rem;
  background-color: var(--light);
}

.card img {
  width: 60%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}

.card h3 {
  color: var(--color-principal);
  font-size: 2.5rem;
}

.card p {
  font-family: var(--font-secundaria);
}

@media (max-width: 630px) {
  .container__cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex-direction: column;
    width: 80%;
  }
  .card img {
    width: 80%;
    margin: 3rem;
  }
}
/************INICIO ESTILOS SECCIÓN PRODUCTOS***************/
.main__products,
.main__promos {
  background-color: var(--light);
  font-family: var(--font-secundaria);
}

.main__title h2 {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 4rem;
  text-transform: uppercase;
  color: var(--color-principal);
  font-family: var(--font-principal);
}

.container__products {
  padding: 1rem;
  gap: 5rem;
}

.cards {
  border-radius: 1.5rem;
  padding-bottom: 2rem;
}

.burger {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/magicStack.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 40vh;
  transition: all 300ms;
}

.hot__dog {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/doglicioso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 40vh;
  transition: all 300ms;
}

.vegan_burger {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/veganBurger.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 40vh;
  transition: all 300ms;
}

.itali_burger {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hamburguesaItaliana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 40vh;
  transition: all 300ms;
}

.sandwich {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sandwichVegan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80%;
  height: 40vh;
  transition: all 300ms;
}

.enable,
.enable_dog,
.enable_vegan,
.enable_itali,
.enable_sandwich {
  height: 70vh;
}

.burger p,
.hot__dog p,
.vegan_burger p,
.itali_burger p,
.sandwich p {
  display: none;
}

.enable p,
.enable_dog p,
.enable_vegan p,
.enable_itali p,
.enable_sandwich p {
  display: block;
  font-weight: bold;
}

.cards__text {
  color: var(--light);
  gap: 1rem;
  flex-grow: 1;
}

.cards__text h3 {
  font-size: 2.5rem;
  color: var(--light-gold);
}

.cards__btn {
  border: none;
  background-color: var(--light);
  border-radius: 1rem;
  padding: 1rem;
  color: var(--black);
  transition: all 300ms;
  text-transform: uppercase;
}

.cards__btn:hover {
  background-color: var(--color-principal);
  color: var(--light);
  cursor: pointer;
}

@media (max-width: 400px) {
  .main__title h2 {
    font-size: 2.5rem;
  }
}
/************ FIN ESTILOS SECCIÓN PRODUCTOS***************/

/*************INICIO SECCIÓN PROMOCIONES******************/

.promos h3 {
  font-size: 4rem;
  color: var(--color-principal);
  font-family: var(--font-principal);
  text-transform: uppercase;
  padding: 3rem;
  font-weight: bold;
}

.container__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
}

.card__promo1 {
  grid-column: 2/4;
  grid-row: 1/2;
  display: grid;
  width: 50%;
  border-radius: 2rem;
  background-color: var(--color-secundario);
  align-items: center;
  justify-content: center;
}

.card__promo1 img {
  width: 80%;
}

.card__promo2 {
  display: grid;
  grid-column: 4/6;
  grid-row: 1/2;

  width: 50%;
  border-radius: 2rem;
  background-color: var(--color-secundario);
  align-items: center;
  justify-content: center;
}

.card__promo2 img {
  width: 80%;
}

.card__promo3 {
  display: grid;
  grid-column: 3/5;
  grid-row: 2/4;
  width: 50%;
  border-radius: 2rem;
  background-color: var(--color-secundario);
  align-items: center;
  justify-content: center;
}

.card__promo3 img {
  width: 80%;
}

/*************INICIO SECCIÓN PROMOCIONES******************/

/************* ESTILOS FOOTER ****************/

.footer {
  background-color: #222222;
  height: 25vh;
}

.footer__copy {
  color: var(--light);
  font-size: 1.5rem;
  font-family: var(--font-secundaria);
}

.footer__copy p {
  margin: 0;
}

.footer__copy a {
  text-decoration: none;
  color: var(--light);
  transition: all 300ms;
}

.footer__copy a:hover {
  color: var(--color-principal);
}

.footer__social {
  gap: 2rem;
}

.footer__social a {
  transition: all 500ms;
}

.footer__social a:hover {
  color: var(--color-principal);
  scale: 1.3;
}

.footer__social a {
  color: var(--light);
  font-size: 2rem;
}

@media (max-width: 630px) {
  .footer {
    flex-direction: column;
  }

  .footer__copy p {
    margin-top: 5rem;
  }

  .footer__copy {
    text-align: center;
    font-size: 1.3rem;
  }
}

/************* ESTILOS FOOTER ****************/

/***************ESTILOS TARJETAS********************/
