@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

// COLORS
$color-principal: #d62e1f;
$color-secundario: #ffd700;
$green: #48a63f;
$brown: #704214;
$light-gold: #edb43c;
$brown-claro: #5c440d;
$light: #f5ebdc;
$light-strong: #dbcdb5;
$black: #000000;
$dark: #222222;
// COLORS

// FONTS
$font-principal: "Oswald", sans-serif;
$font-secundaria: "Montserrat", sans-serif;
// FONTS

// MEDIA QUERIES
$phone: 480px;
$small-tablet: 575px;
$tablet: 768px;
